footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: #000000;
    background: #f4f4f4;
    text-align: center;
    border-top: solid 1px #e8491d;
    clear: both;
}