body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

header {
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  background-color: #d3d3d3;
  border-bottom: #a9a9a9 1px solid;
  padding-top: 5px;
  min-height: 30px;
}

.highlight {
  color: #e8491d;
}

.container {
  float: right;
}

.container .social-media {
  float: left;
}

.container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 1px 0 1px;
  margin: 0;
  float: right;
}

.container ul li {
  margin-right: 20px;
  text-decoration: none;
}

.container ul li a {
  text-decoration: none;
  color: #808080;
  font-size: 12px;
}

.container ul li a:hover {
  color: #e8491d;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #f4f4f4;
  border-bottom: #a9a9a9 0.5px solid;
}

.search-box .logo {
  margin-left: 10px;
}

.search-box .highlight, .search-box .current a {
  color: #e8491d;
  font-weight: bold;
}

.search-box form {
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-box form input[type="text"] {
  padding: 4px;
  height: 30px;
  width: 300px;
  outline: none;
}

.search-box form input[type="text"]:focus {
  border: 0.5px solid #e8491d !important;
}

.search-box form .button_1 {
  height: 30px;
  background: #e8491d;
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  width: 40px;
  outline: none;
}

.search-box form .button_1:hover {
  background-color: #808080;
}

.search-box label {
  margin-top: 15px;
  color: #808080;
  font-size: 14px;
  text-decoration: none;
}

.search-box label:hover {
  color: #e8491d;
}

.search-box .fa-caret-down {
  margin-left: 10px;
}

.search-box .cart-btn {
  position: relative;
  float: right;
}

.search-box .cart-btn ul {
  position: absolute;
  background: #e8e8e8;
  list-style-type: none;
  left: 26px;
  border-radius: 5px;
  width: 100%;
  display: none;
  z-index: 1;
}

.search-box .cart-btn ul li {
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
}

.search-box .cart-btn ul li a {
  color: #e8491d;
  text-decoration: none;
  display: block;
}

.search-box .cart-btn .cart-content:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #e8e8e8;
  right: 20px;
  top: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.search-box .cart-btn:hover .cart-content {
  display: block;
}

.search-box .fa-shopping-cart {
  margin-top: 15px;
  padding-right: 5px;
  color: #e8491d;
  font-size: 25px;
}

.breadcrumbs-container {
  background: #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  height: 65px;
}

.breadcrumbs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
}

.breadcrumbs-row .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  list-style-type: none;
}

.breadcrumbs-row .list .step {
  text-align: center;
  line-height: 35px;
  border-radius: 35px;
  border: 1px solid #e8491d;
  font-size: 15px;
  height: 35px;
  width: 35px;
}

.breadcrumbs-row .list .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 9px 10px 0 10px;
  font-size: 12px;
  font-weight: bold;
}

.breadcrumbs-row .fa-arrow-circle-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 3px 10px 0 0px;
  font-size: 30px;
}

.breadcrumbs-row #active {
  color: #e8491d;
}

.btn-home {
  margin: 15px 30px 0 30px;
  font-size: 19px;
  font-weight: bold;
  border-bottom: 0.5px solid #d3d3d3;
}

.btn-home .fa-home {
  padding-right: 10px;
  color: #e8491d;
  cursor: pointer;
}

.col-reg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reg-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 55%;
  margin-top: 20px;
  margin-right: 20px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  background-color: #e8491d !important;
  border-color: #e8491d !important;
}

.register {
  margin-bottom: 10px;
}

.register .register-title {
  border-bottom: 1px solid #a9a9a9;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 7px 2px;
}

.register .fa-plane, .register .fa-credit-card {
  color: #e8491d;
}

.register .icon {
  padding: 7px;
  background: #e8491d;
  color: white;
  min-width: 35px;
  text-align: center;
  margin-right: 5px;
}

.register .reg-input-form {
  margin-left: 20px;
}

.register input[type=text], .register input[type=password], .register select, .register textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
}

.register input[type=text]:focus, .register input[type=password]:focus, .register select:focus, .register textarea:focus {
  border: 0.5px solid #e8491d !important;
}

.register select option {
  outline: none;
}

.register select option:focus {
  border: 0.5px solid #e8491d !important;
}

.newsletter {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  height: 280px;
  margin-top: 20px;
}

input[type="checkbox"] {
  -webkit-filter: invert(5%) hue-rotate(50deg) brightness(1.7);
          filter: invert(5%) hue-rotate(50deg) brightness(1.7);
  outline: 2px solid red;
  outline-offset: -2px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #000000;
  background: #f4f4f4;
  text-align: center;
  border-top: solid 1px #e8491d;
  clear: both;
}

/* On screens that are 992px wide or less*/
@media screen and (max-width: 992px) {
  .products {
    width: 40%;
  }
  .incart-container .cart {
    height: 180px;
  }
  .incart-container .cart .product-incart .incart-details img {
    height: 100px;
  }
}

/* On screens that are 892px wide or less*/
@media screen and (max-width: 892px) {
  .incart-container .cart {
    height: 240px;
  }
  .incart-container .cart .product-incart .incart-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .incart-container .cart .product-incart .incart-details img {
    height: 80px;
  }
}

/* On screens that are 768px wide or less*/
@media screen and (max-width: 768px) {
  span.contact, span.checkout, span.facebook, span.instagram, span.follow {
    display: none;
  }
  .search-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-reg-container {
    display: block;
  }
  .reg-container {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  .newsletter {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-home {
    margin: 15px 10px 0 10px;
  }
}

/* On screens that are 600px wide or less*/
@media screen and (max-width: 600px) {
  .products {
    width: 80%;
  }
}

/* On screens that are 510px wide or less*/
@media screen and (max-width: 510px) {
  .breadcrumbs-row {
    width: 100%;
    padding: 5px;
  }
  .breadcrumbs-row .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumbs-row .list .step {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumbs-row .list .title {
    font-size: 12px;
  }
  .incart-container .cart {
    height: 320px;
  }
  .incart-container .cart ul.cart-nav-tag li {
    padding: 4px 7px;
    font-size: 13px;
  }
  .incart-container .cart .product-incart .incart-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .incart-container .cart .product-incart .incart-details img {
    width: 60%;
  }
  .incart-container .cart .product-incart .row-price-qty {
    float: right;
  }
  .incart-container .cart .product-incart .row-price-qty .col-price-qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    font-size: 14px;
  }
  .incart-container .cart .product-incart .row-price-qty .price {
    padding-left: 20px;
    font-size: 14px;
  }
}

/* On screens that are 400px wide or less*/
@media screen and (max-width: 400px) {
  .products {
    width: 80%;
  }
  .details h5 {
    font-size: 12px;
    margin: 3px;
  }
  .details h5 p {
    font-size: 10px;
    margin: 2px;
  }
  .breadcrumbs-row {
    width: 100%;
    padding: 5px;
  }
  .breadcrumbs-row .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumbs-row .list .step {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumbs-row .list .title {
    font-size: 7px;
  }
  .cart-summary {
    margin-top: 20px;
    display: block;
    text-align: center;
  }
  .figures {
    padding: 0;
    margin: 0;
    border: none;
  }
  .btn-col {
    padding: 0;
    margin: 0;
    height: 170px;
    border: none;
  }
}
/*# sourceMappingURL=main.css.map */